services:
  - type: web
    name: gestion-parcours-usmba
    runtime: php
    buildCommand: chmod +x render-build.sh && ./render-build.sh
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        fromService:
          type: web
          name: gestion-parcours-usmba
          property: host
      - key: DB_CONNECTION
        value: mysql
      - key: SESSION_DRIVER
        value: file
      - key: CACHE_STORE
        value: file
      - key: QUEUE_CONNECTION
        value: sync
